In [64]:
import pandas as pd
from IPython.display import display

popdata = pd.read_csv(r"C:\Users\prabr\Desktop\GroupProjectWork\HumanPopulation\population-of-cities-towns-and-villages\population-of-cities-towns-and-villages.csv")


display(popdata.head())
display(popdata.columns)

,Entity,Code,Year,Population living in villages,Population living in towns,Population living in cities
0,Afghanistan,AFG,1975,4653196.0,4663051.5,2868921.2
1,Afghanistan,AFG,1980,4745344.5,4750704.0,3020798.2
2,Afghanistan,AFG,1985,4354585.0,3533504.5,2660250.0
3,Afghanistan,AFG,1990,4362137.5,3525674.2,2846176.0
4,Afghanistan,AFG,1995,5387096.5,6618796.0,4447504.0

Index(['Entity', 'Code', 'Year', 'Population living in villages',
       'Population living in towns', 'Population living in cities'],
      dtype='object')

The individual categories of populations in villages, towns and cities doesnt really matter. What matters is the total population. The only other entitiy that matters is the country and year

In [65]:
popdata["Population"] = popdata["Population living in villages"] + popdata["Population living in towns"] + popdata["Population living in cities"]
popdata=popdata[["Entity","Year","Population"]]

In [66]:
popdata.head()

        Entity  Year  Population
0  Afghanistan  1975  12185168.7
1  Afghanistan  1980  12516846.7
2  Afghanistan  1985  10548339.5
3  Afghanistan  1990  10733987.7
4  Afghanistan  1995  16453396.5

In [67]:
popdata["Entity"].unique()

array(['Afghanistan', 'Africa', 'Akrotiri and Dhekelia', 'Albania',
       'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Anguilla',
       'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Aruba', 'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bonaire Sint Eustatius and Saba', 'Bosnia and Herzegovina',
       'Botswana', 'Bouvet Island', 'Brazil',
       'British Indian Ocean Territory', 'British Virgin Islands',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia',
       'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China',
       'Christmas Island', 'Cocos Islands', 'Colombia', 'Comoros',
       'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
       'Cuba', 'Curacao', 'Cyprus', 'Czechia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'East Timor', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'Falkland Islands',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'French Southern Territories', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece',
       'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala',
       'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Heard Island and McDonald Island', 'High-income countries',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Low-income countries', 'Lower-middle-income countries',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania',
       'Mauritius', 'Mayotte', 'Mexico', 'Micronesia (country)',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Norfolk Island', 'North America',
       'North Korea', 'North Macedonia', 'Northern Cyprus',
       'Northern Mariana Islands', 'Norway', 'Oceania', 'Oman',
       'Pakistan', 'Palau', 'Palestine', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russia', 'Rwanda',
       'Saint Barthelemy', 'Saint Helena, Ascension and Tris',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Svalbard and Jan Mayen', 'Sweden', 'Switzerland',
       'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo',
       'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Minor Outlying Islands',
       'United States Virgin Islands', 'Upper-middle-income countries',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela',
       'Vietnam', 'Wallis and Futuna', 'Western Sahara', 'World', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

There are Entities that are continents and the total world population, and so should be removed

In [68]:
popdata=popdata[~popdata["Entity"].isin(["Asia","Europe","World","North America","South America","Oceania","South America","Antarctica","Africa"])]

No point doing outlier investigation as the country populations will vary so much between eachother

In [69]:
popdata.isna().sum()

Entity        0
Year          0
Population    0
dtype: int64

No empty cells which is good

In [70]:
popdata.columns=pd.Index(["Country","Year","Population"])
popdata.head()

       Country  Year  Population
0  Afghanistan  1975  12185168.7
1  Afghanistan  1980  12516846.7
2  Afghanistan  1985  10548339.5
3  Afghanistan  1990  10733987.7
4  Afghanistan  1995  16453396.5

In [71]:
popdata["Year"].unique()

array([1975, 1980, 1985, 1990, 1995, 2000, 2005, 2010, 2015, 2020],
      dtype=int64)

In [72]:
for i in popdata["Year"].unique():
    print(f"Records for the year {i} = ",(popdata["Year"]==i).sum())

Records for the year 1975 =  250
Records for the year 1980 =  250
Records for the year 1985 =  250
Records for the year 1990 =  250
Records for the year 1995 =  250
Records for the year 2000 =  250
Records for the year 2005 =  250
Records for the year 2010 =  250
Records for the year 2015 =  250
Records for the year 2020 =  250

All years have equal number of data points between them which is also good

Finally, we can export

In [73]:
popdata.to_csv(r"C:\Users\prabr\Desktop\GroupProjectWork\CleanedData\PopulationData.csv",index=False)