In [1]:
from sklearn.linear_model import LinearRegression
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns 
import warnings
warnings.filterwarnings('ignore')

# Load the CSV file
# Data file should be in the same directory as the code
file_path = r"stork.csv"
df_crane = pd.read_csv(file_path)

print(df_crane.head())
print(df_crane.shape)

                          GLOBAL UNIQUE IDENTIFIER OBSERVATION COUNT  \
0  URN:CornellLabOfOrnithology:EBIRD:OBS2834433772                 2
1  URN:CornellLabOfOrnithology:EBIRD:OBS2778074489                30
2  URN:CornellLabOfOrnithology:EBIRD:OBS2789070790                 3
3  URN:CornellLabOfOrnithology:EBIRD:OBS2830885770                 1
4  URN:CornellLabOfOrnithology:EBIRD:OBS2822543283                10

    COUNTRY   LATITUDE  LONGITUDE OBSERVATION DATE TIME OBSERVATIONS STARTED  \
0  Zimbabwe -19.068920  27.343787       10/01/2025                  06:32:00
1     Spain  40.394764  -3.704024       12/01/2025                  13:05:00
2     Spain  42.473166  -2.433722       16/01/2025                  08:24:00
3     Spain  40.390261  -3.684086       31/01/2025                  12:45:00
4     Spain  40.324650  -3.516475       28/01/2025                  12:29:00

   DURATION MINUTES
0             100.0
1              50.0
2              57.0
3              63.0
4              24.0
(675879, 8)

In [2]:
df_crane['OBSERVATION DATE'] = pd.to_datetime(df_crane['OBSERVATION DATE'], format='%d/%m/%Y', errors='coerce')

# Define the date range
start_date = '2001-01-01'
end_date = '2020-06-30'

# Filter the DataFrame
df_crane = df_crane[(df_crane['OBSERVATION DATE'] >= start_date) & 
                       (df_crane['OBSERVATION DATE'] <= end_date)]

# Display the filtered DataFrame
print(df_crane.head())
print(df_crane.shape)
#df_crane.to_csv('Stork 2001-2020.csv', index=False)

                             GLOBAL UNIQUE IDENTIFIER OBSERVATION COUNT  \
20487  URN:CornellLabOfOrnithology:EBIRD:OBS893567418                 2
20488  URN:CornellLabOfOrnithology:EBIRD:OBS892840772                 1
20489  URN:CornellLabOfOrnithology:EBIRD:OBS875856550                 3
20490  URN:CornellLabOfOrnithology:EBIRD:OBS771039779                 4
20491  URN:CornellLabOfOrnithology:EBIRD:OBS857230402                 X

      COUNTRY   LATITUDE  LONGITUDE OBSERVATION DATE  \
20487   Spain  40.813819  -5.705139       2001-04-29
20488   Spain  40.813819  -5.705139       2001-06-10
20489   Spain  42.212204  -2.180776       2001-06-20
20490   Spain  41.728994  -5.595362       2001-04-28
20491   Spain  41.728994  -5.595362       2001-06-02

      TIME OBSERVATIONS STARTED  DURATION MINUTES
20487                  10:27:00              31.0
20488                  10:20:00              38.0
20489                  09:00:00             270.0
20490                       NaN               NaN
20491                       NaN               NaN
(251246, 8)

In [3]:
df_rain1 = pd.read_csv(r'datasets/cleaned_precipitation.csv')

df_rain2 = pd.read_csv(r'datasets/cleaned_precipitation2.csv')


df_rain= pd.concat([df_rain1, df_rain2], ignore_index=True)

print(df_rain.head())
print(df_rain.shape)

  code             name      continent        date  precipitation  year
0  ABW    Aruba (Neth.)  North America  1901-01-01          33.30   NaN
1  AFG      Afghanistan           Asia  1901-01-01          48.01   NaN
2  AGO           Angola         Africa  1901-01-01         152.68   NaN
3  AIA  Anguilla (U.K.)  North America  1901-01-01          92.60   NaN
4  ALA          Finland         Europe  1901-01-01          15.14   NaN
(352764, 6)

In [4]:
df_temp = pd.read_csv(r'datasets/cleaned_temperature.csv')
print(df_temp.head())
print(df_temp.shape)

  Country_Code     Country_Name  Year_Month  Temperature
0          ABW    Aruba (Neth.)  1901-01-01        27.20
1          AFG      Afghanistan  1901-01-01        -0.82
2          AGO           Angola  1901-01-01        22.50
3          AIA  Anguilla (U.K.)  1901-01-01        26.10
4          ALA    Åland Islands  1901-01-01        -4.15
(360144, 4)

In [5]:
# --- 1. Standardize Country Names in Crane Dataset ---
# Replace the country names in the crane dataset to match the temperature and precipitation datasets
df_crane['COUNTRY'] = df_crane['COUNTRY'].replace({
    'TÃ¼rkiye': 'Turkey', 
    'Türkiye' : 'Turkey',
    'Western Sahara' : 'Morocco',
    'DR Congo' : 'Democratic Republic of Congo',
    'Vatican City (Holy See)' : 'Vatican City'# Handle the special character in 'TÃ¼rkiye'
})

# --- 2. Standardize Country Names in Temperature and Precipitation Datasets ---
# Replace the country names in the temperature dataset to match the crane dataset
df_temp['Country_Name'] = df_temp['Country_Name'].replace({
    'United States of America': 'United States',  # Standardize to 'United States'
    'Arab Republic of Egypt' : 'Egypt',
    'Republic of Korea' : 'South Korea',
    'D. P. R. of Korea' : 'North Korea',
    'Islamic Republic of Iran' : 'Iran',
    'Slovak Republic' : 'Slovakia',
    'Svalbard and Jan Mayen (Nor.)' : 'Svalbard',
    'Syrian Arab Republic' : 'Syria',
    'Isle of Man (U.K.)' : 'Isle of Man',
    'Gibraltar (U.K.)' : 'Gibraltar',
    'Republic of Yemen' : 'Yemen',
    'Kyrgyz Republic' : 'Kyrgyzstan',
    'Faroe Islands (Den.)' : 'Faroe Islands',
    'Jersey (U.K.)' : 'Jersey',
    'Guernsey (U.K.)' : 'Guernsey',
    'Russian Federation': 'Russia',
    'Türkiye' : 'Turkey',
    'The Gambia' : 'Gambia'# Standardize to 'Russia'
})

# --- 1. Replace 'China' with 'Taiwan' for rows where the country code is 'TWN' ---
df_rain.loc[df_rain['code'] == 'TWN', 'name'] = 'Taiwan'
df_rain.loc[df_rain['code'] == 'MTQ', 'name'] = 'Martinique'


# --- 3. Proceed with the merge or other steps ---
# Continue with the rest of your merge or processing as needed

# Replace the country names in the precipitation dataset
df_rain['name'] = df_rain['name'].replace({
    'United States of America': 'United States',  # Standardize to 'United States'
    'Arab Republic of Egypt' : 'Egypt',
    'Republic of Korea' : 'South Korea',
    'D. P. R. of Korea' : 'North Korea',
    'Islamic Republic of Iran' : 'Iran',
    'Slovak Republic' : 'Slovakia',
    'Svalbard and Jan Mayen (Nor.)' : 'Svalbard',
    'Syrian Arab Republic' : 'Syria',
    'Isle of Man (U.K.)' : 'Isle of Man',
    'Gibraltar (U.K.)' : 'Gibraltar',
    'Republic of Yemen' : 'Yemen',
    'Kyrgyz Republic' : 'Kyrgyzstan',
    'Faroe Islands (Den.)' : 'Faroe Islands',
    'Jersey (U.K.)' : 'Jersey',
    'Guernsey (U.K.)' : 'Guernsey',
    'Russian Federation': 'Russia',
    'Türkiye' : 'Turkey',
    'The Gambia' : 'Gambia'# Standardize to 'Russia'
})
df_rain = df_rain[~((df_rain['name'] == 'France') & (df_rain['code'] != 'FRA'))]
df_rain = df_rain[~((df_rain['name'] == 'Finland') & (df_rain['code'] != 'FIN'))]

In [6]:
# --- 3. Convert 'OBSERVATION DATE' to Datetime and Extract Year-Month in the Crane Dataset ---
# Convert 'OBSERVATION DATE' to datetime format
df_crane['OBSERVATION DATE'] = pd.to_datetime(df_crane['OBSERVATION DATE'], format='%d/%m/%Y', errors='coerce')


# Extract Year-Month (the first day of the month) from the 'OBSERVATION DATE'
df_crane['Year_Month'] = df_crane['OBSERVATION DATE'].dt.to_period('M').dt.to_timestamp()

# --- 4. Filter Crane Data to Exclude 2024 Data ---
# Filter the dataset to include only data up to 2023



print(df_crane.shape)

(251246, 9)

In [7]:

# --- 5. Ensure Weather Data has Year-Month Format ---
# Convert the 'Year_Month' in the temperature dataset to datetime
df_temp['Year_Month'] = pd.to_datetime(df_temp['Year_Month'])

# Convert the 'date' in the precipitation dataset to datetime, then extract Year-Month
df_rain['date'] = pd.to_datetime(df_rain['date'])
df_rain['Year_Month'] = df_rain['date'].dt.to_period('M').dt.to_timestamp()

# --- 6. Merge Crane Data with Temperature Data (only Temperature) ---
# Merge based on 'COUNTRY' and 'Year_Month', but only include the 'Temperature' column

merged_temp = pd.merge(
    df_crane, df_temp[['Country_Name', 'Year_Month', 'Temperature']],  # Select relevant columns
    how='left',  # Use a left join to keep all crane sightings
    left_on=['COUNTRY', 'Year_Month'],  # Match by country and Year-Month
    right_on=['Country_Name', 'Year_Month'] # Match by country and Year-Month
)
print(merged_temp.shape)

# Rename the temperature column to 'AVERAGE MONTH TEMPERATURE'
merged_temp.rename(columns={'Temperature': 'AVERAGE MONTH TEMPERATURE'}, inplace=True)
print(merged_temp.shape)
# --- 7. Merge with Precipitation Data (only Precipitation) ---
# Merge with the precipitation data on 'COUNTRY' and 'Year_Month', but only include the 'precipitation' column
merged = pd.merge(
    merged_temp, df_rain[['name', 'Year_Month', 'precipitation']],  # Select relevant columns
    how='left',  # Use a left join to keep all crane sightings
    left_on=['COUNTRY', 'Year_Month'],  # Merge on the same columns for Year-Month and country
    right_on=['name', 'Year_Month']
)




print(merged.shape)


# Rename the precipitation column to 'AVERAGE MONTH RAINFALL'
merged.rename(columns={'precipitation': 'AVERAGE MONTH RAINFALL'}, inplace=True)

# --- 8. Clean Up the Data ---
# Drop the extra country columns from merged datasets (if any)
merged.drop(columns=['Country_Name', 'name', 'Year_Month'], inplace=True)

# --- 9. Check the Result ---
print(merged.head())
print(merged.shape)

(251246, 11)
(251246, 11)
(251246, 13)
                         GLOBAL UNIQUE IDENTIFIER OBSERVATION COUNT COUNTRY  \
0  URN:CornellLabOfOrnithology:EBIRD:OBS893567418                 2   Spain
1  URN:CornellLabOfOrnithology:EBIRD:OBS892840772                 1   Spain
2  URN:CornellLabOfOrnithology:EBIRD:OBS875856550                 3   Spain
3  URN:CornellLabOfOrnithology:EBIRD:OBS771039779                 4   Spain
4  URN:CornellLabOfOrnithology:EBIRD:OBS857230402                 X   Spain

    LATITUDE  LONGITUDE OBSERVATION DATE TIME OBSERVATIONS STARTED  \
0  40.813819  -5.705139       2001-04-29                  10:27:00
1  40.813819  -5.705139       2001-06-10                  10:20:00
2  42.212204  -2.180776       2001-06-20                  09:00:00
3  41.728994  -5.595362       2001-04-28                       NaN
4  41.728994  -5.595362       2001-06-02                       NaN

   DURATION MINUTES  AVERAGE MONTH TEMPERATURE  AVERAGE MONTH RAINFALL
0              31.0                      11.84                   27.54
1              38.0                      20.48                   10.43
2             270.0                      20.48                   10.43
3               NaN                      11.84                   27.54
4               NaN                      20.48                   10.43
(251246, 10)

In [8]:
# --- 1. Drop Rows with 'Palestinian Territory' in the Country Column ---
merged = merged[merged['COUNTRY'] != 'Palestinian Territory']

#merged = merged[merged['COUNTRY'] != 'Kosovo']

In [9]:
# Check for NaN values in the 'AVERAGE MONTH TEMPERATURE' and 'AVERAGE MONTH RAINFALL' columns
nan_temperature = merged['AVERAGE MONTH TEMPERATURE'].isna().sum()
nan_rainfall = merged['AVERAGE MONTH RAINFALL'].isna().sum()

# Print the number of NaN values in each column
print(f"Number of NaN values in 'AVERAGE MONTH TEMPERATURE': {nan_temperature}")
print(f"Number of NaN values in 'AVERAGE MONTH RAINFALL': {nan_rainfall}")

Number of NaN values in 'AVERAGE MONTH TEMPERATURE': 0
Number of NaN values in 'AVERAGE MONTH RAINFALL': 0

In [10]:
# Filter rows where 'AVERAGE MONTH TEMPERATURE' is NaN
nan_temperature_rows = merged[merged['AVERAGE MONTH TEMPERATURE'].isna()]

# Filter rows where 'AVERAGE MONTH RAINFALL' is NaN
nan_rainfall_rows = merged[merged['AVERAGE MONTH RAINFALL'].isna()]

# Print the rows with NaN values in 'AVERAGE MONTH TEMPERATURE'
print("Rows with NaN in 'AVERAGE MONTH TEMPERATURE':")
print(nan_temperature_rows)

# Print the rows with NaN values in 'AVERAGE MONTH RAINFALL'
print("\nRows with NaN in 'AVERAGE MONTH RAINFALL':")
print(nan_rainfall_rows)

Rows with NaN in 'AVERAGE MONTH TEMPERATURE':
Empty DataFrame
Columns: [GLOBAL UNIQUE IDENTIFIER, OBSERVATION COUNT, COUNTRY, LATITUDE, LONGITUDE, OBSERVATION DATE, TIME OBSERVATIONS STARTED, DURATION MINUTES, AVERAGE MONTH TEMPERATURE, AVERAGE MONTH RAINFALL]
Index: []

Rows with NaN in 'AVERAGE MONTH RAINFALL':
Empty DataFrame
Columns: [GLOBAL UNIQUE IDENTIFIER, OBSERVATION COUNT, COUNTRY, LATITUDE, LONGITUDE, OBSERVATION DATE, TIME OBSERVATIONS STARTED, DURATION MINUTES, AVERAGE MONTH TEMPERATURE, AVERAGE MONTH RAINFALL]
Index: []

In [11]:
#merged.to_csv('crane_temp_rain_2023.csv', index=False)

In [12]:
df_tree = pd.read_csv(r'datasets/cleaned_tree_cover.csv')
print(df_tree.head())
print(df_tree.shape)

   Unnamed: 0      country   area_ha  tree_cover_2000_ha  tree_cover_2010_ha  \
0           0  Afghanistan  64385715              205791               71797
1           1  Afghanistan  64385715              205791               71797
2           2  Afghanistan  64385715              205791               71797
3           3  Afghanistan  64385715              205791               71797
4           4  Afghanistan  64385715              205791               71797

   gain_2000-2020_ha  year  tree_loss_ha
0              10741  2001            88
1              10741  2002           179
2              10741  2003           244
3              10741  2004           201
4              10741  2005           236
(5428, 8)

In [13]:
# Extract year from OBSERVATION DATE if it's not already done
merged['year'] = pd.to_datetime(merged['OBSERVATION DATE']).dt.year

df_tree['country'] = df_tree['country'].replace({
    'Svalbard and Jan Mayen': 'Svalbard',
    'Swaziland' : 'Eswatini',
    'Republic of Congo' : 'Congo',
    'Macedonia' : 'North Macedonia',
    'Democratic Republic of the Congo' : 'Democratic Republic of Congo'# Handle the special character in 'TÃ¼rkiye'
})


df_tree['percentage_loss'] = (df_tree['tree_loss_ha'] / df_tree['area_ha']) * 100
# Perform the merge with df_tree
merged2 = pd.merge(
    merged,
    df_tree[['year', 'country', 'tree_loss_ha', 'percentage_loss']],  # Select only relevant columns
    how='left', 
    left_on=['year', 'COUNTRY'], 
    right_on=['year', 'country']
)
# Keep only rows where the year is 2001 or later
#merged2 = merged2[merged2['year'] >= 2001]

# Drop the redundant 'country' column from df_tree if necessary
#merged2.drop(columns=['country'], inplace=True)






print(merged2.head())
print(merged2.shape)

                         GLOBAL UNIQUE IDENTIFIER OBSERVATION COUNT COUNTRY  \
0  URN:CornellLabOfOrnithology:EBIRD:OBS893567418                 2   Spain
1  URN:CornellLabOfOrnithology:EBIRD:OBS892840772                 1   Spain
2  URN:CornellLabOfOrnithology:EBIRD:OBS875856550                 3   Spain
3  URN:CornellLabOfOrnithology:EBIRD:OBS771039779                 4   Spain
4  URN:CornellLabOfOrnithology:EBIRD:OBS857230402                 X   Spain

    LATITUDE  LONGITUDE OBSERVATION DATE TIME OBSERVATIONS STARTED  \
0  40.813819  -5.705139       2001-04-29                  10:27:00
1  40.813819  -5.705139       2001-06-10                  10:20:00
2  42.212204  -2.180776       2001-06-20                  09:00:00
3  41.728994  -5.595362       2001-04-28                       NaN
4  41.728994  -5.595362       2001-06-02                       NaN

   DURATION MINUTES  AVERAGE MONTH TEMPERATURE  AVERAGE MONTH RAINFALL  year  \
0              31.0                      11.84                   27.54  2001
1              38.0                      20.48                   10.43  2001
2             270.0                      20.48                   10.43  2001
3               NaN                      11.84                   27.54  2001
4               NaN                      20.48                   10.43  2001

  country  tree_loss_ha  percentage_loss
0   Spain         32811         0.064838
1   Spain         32811         0.064838
2   Spain         32811         0.064838
3   Spain         32811         0.064838
4   Spain         32811         0.064838
(250651, 14)

In [14]:
nan_tree = merged2['tree_loss_ha'].isna().sum()
print(nan_tree)

nan_tree_rows = merged2[merged2['tree_loss_ha'].isna()]
print(nan_tree_rows)

0
Empty DataFrame
Columns: [GLOBAL UNIQUE IDENTIFIER, OBSERVATION COUNT, COUNTRY, LATITUDE, LONGITUDE, OBSERVATION DATE, TIME OBSERVATIONS STARTED, DURATION MINUTES, AVERAGE MONTH TEMPERATURE, AVERAGE MONTH RAINFALL, year, country, tree_loss_ha, percentage_loss]
Index: []

In [15]:
df_pop = pd.read_csv(r'datasets/Processed_PopulationData.csv')
print(df_pop.head())
print(df_pop.shape)

   Year      Country  Population
0  1975  Afghanistan  12185168.7
1  1976  Afghanistan  12251504.3
2  1977  Afghanistan  12317839.9
3  1978  Afghanistan  12384175.5
4  1979  Afghanistan  12450511.1
(12250, 3)

In [16]:
merged2['COUNTRY'] = merged2['COUNTRY'].replace({
    'Czech Republic': 'Czechia',  # Handle the special character in 'TÃ¼rkiye'
})
df_pop['Country'] = df_pop['Country'].replace({
    'Svalbard and Jan Mayen': 'Svalbard',  # Handle the special character in 'TÃ¼rkiye'
})
merged3 = pd.merge(
    merged2,
    df_pop[['Year', 'Country', 'Population']],  # Select only relevant columns
    how='left', 
    left_on=['year', 'COUNTRY'], 
    right_on=['Year', 'Country']
)
merged3.drop(columns=['Country', 'Year'], inplace=True)
print(merged3.head())

                         GLOBAL UNIQUE IDENTIFIER OBSERVATION COUNT COUNTRY  \
0  URN:CornellLabOfOrnithology:EBIRD:OBS893567418                 2   Spain
1  URN:CornellLabOfOrnithology:EBIRD:OBS892840772                 1   Spain
2  URN:CornellLabOfOrnithology:EBIRD:OBS875856550                 3   Spain
3  URN:CornellLabOfOrnithology:EBIRD:OBS771039779                 4   Spain
4  URN:CornellLabOfOrnithology:EBIRD:OBS857230402                 X   Spain

    LATITUDE  LONGITUDE OBSERVATION DATE TIME OBSERVATIONS STARTED  \
0  40.813819  -5.705139       2001-04-29                  10:27:00
1  40.813819  -5.705139       2001-06-10                  10:20:00
2  42.212204  -2.180776       2001-06-20                  09:00:00
3  41.728994  -5.595362       2001-04-28                       NaN
4  41.728994  -5.595362       2001-06-02                       NaN

   DURATION MINUTES  AVERAGE MONTH TEMPERATURE  AVERAGE MONTH RAINFALL  year  \
0              31.0                      11.84                   27.54  2001
1              38.0                      20.48                   10.43  2001
2             270.0                      20.48                   10.43  2001
3               NaN                      11.84                   27.54  2001
4               NaN                      20.48                   10.43  2001

  country  tree_loss_ha  percentage_loss  Population
0   Spain         32811         0.064838  41327984.6
1   Spain         32811         0.064838  41327984.6
2   Spain         32811         0.064838  41327984.6
3   Spain         32811         0.064838  41327984.6
4   Spain         32811         0.064838  41327984.6

In [17]:
nan_pop = merged3['Population'].isna().sum()
print(nan_pop)

nan_pop_rows = merged3[merged3['Population'].isna()]
print(nan_pop_rows)

merged3.loc[merged3['Population'].isna(), 'Population'] = 545

1
                              GLOBAL UNIQUE IDENTIFIER OBSERVATION COUNT  \
119583  URN:CornellLabOfOrnithology:EBIRD:OBS590612764                20

             COUNTRY   LATITUDE  LONGITUDE OBSERVATION DATE  \
119583  Vatican City  41.902234  12.456492       2018-03-11

       TIME OBSERVATIONS STARTED  DURATION MINUTES  AVERAGE MONTH TEMPERATURE  \
119583                  10:36:00               NaN                       11.3

        AVERAGE MONTH RAINFALL  year       country  tree_loss_ha  \
119583                    90.4  2018  Vatican City             0

        percentage_loss  Population
119583              0.0         NaN

In [18]:
merged3.to_csv('stork_temp_rain_pop_tree_2001-2020.csv', index=False)
#merged3.drop(columns=['country'], inplace=True)
duplicates = merged3[merged3.duplicated()]
print(duplicates)
merged3.duplicated().sum()

Empty DataFrame
Columns: [GLOBAL UNIQUE IDENTIFIER, OBSERVATION COUNT, COUNTRY, LATITUDE, LONGITUDE, OBSERVATION DATE, TIME OBSERVATIONS STARTED, DURATION MINUTES, AVERAGE MONTH TEMPERATURE, AVERAGE MONTH RAINFALL, year, country, tree_loss_ha, percentage_loss, Population]
Index: []

np.int64(0)

In [19]:
df_veg = pd.read_csv(r'datasets/stork_ndvi_turbine.csv')
print(df_veg.head())
print(df_veg.shape)
df_veg.isna().sum()

   Unnamed: 0                        GLOBAL UNIQUE IDENTIFIER  \
0           0  URN:CornellLabOfOrnithology:EBIRD:OBS893567418
1           1  URN:CornellLabOfOrnithology:EBIRD:OBS892840772
2           2  URN:CornellLabOfOrnithology:EBIRD:OBS875856550
3           3  URN:CornellLabOfOrnithology:EBIRD:OBS771039779
4           4  URN:CornellLabOfOrnithology:EBIRD:OBS857230402

  OBSERVATION COUNT COUNTRY   LATITUDE  LONGITUDE OBSERVATION DATE  \
0                 2   Spain  40.813819  -5.705139       2001-04-29
1                 1   Spain  40.813819  -5.705139       2001-06-10
2                 3   Spain  42.212204  -2.180776       2001-06-20
3                 4   Spain  41.728994  -5.595362       2001-04-28
4                 X   Spain  41.728994  -5.595362       2001-06-02

  TIME OBSERVATIONS STARTED  DURATION MINUTES  WT_COUNT_10KM_RADIUS  \
0                  10:27:00              31.0                   0.0
1                  10:20:00              38.0                   0.0
2                  09:00:00             270.0                2097.0
3                       NaN               NaN                   0.0
4                       NaN               NaN                   0.0

                                unique identifier   NDVI
0  URN:CornellLabOfOrnithology:EBIRD:OBS893567418  0.580
1  URN:CornellLabOfOrnithology:EBIRD:OBS892840772  0.320
2  URN:CornellLabOfOrnithology:EBIRD:OBS875856550  0.296
3  URN:CornellLabOfOrnithology:EBIRD:OBS771039779  0.328
4  URN:CornellLabOfOrnithology:EBIRD:OBS857230402  0.196
(251246, 12)

Unnamed: 0                       0
GLOBAL UNIQUE IDENTIFIER         0
OBSERVATION COUNT                0
COUNTRY                          0
LATITUDE                         0
LONGITUDE                        0
OBSERVATION DATE                 0
TIME OBSERVATIONS STARTED    32934
DURATION MINUTES             60924
WT_COUNT_10KM_RADIUS             0
unique identifier                0
NDVI                          6520
dtype: int64

In [20]:

merged4 = pd.merge(
    merged3,
    df_veg[[ 'unique identifier', 'NDVI', 'WT_COUNT_10KM_RADIUS']],  # Select only relevant columns
    how='left', 
    left_on=['GLOBAL UNIQUE IDENTIFIER'], 
    right_on=['unique identifier']
)
#merged4 = merged4[merged4['OBSERVATION DATE'] <= '2020-06-30']
print(merged4.head())
print(merged4.shape)
merged4.drop(columns=['unique identifier', 'year', 'country'], inplace=True)
print(merged4.shape)

                         GLOBAL UNIQUE IDENTIFIER OBSERVATION COUNT COUNTRY  \
0  URN:CornellLabOfOrnithology:EBIRD:OBS893567418                 2   Spain
1  URN:CornellLabOfOrnithology:EBIRD:OBS892840772                 1   Spain
2  URN:CornellLabOfOrnithology:EBIRD:OBS875856550                 3   Spain
3  URN:CornellLabOfOrnithology:EBIRD:OBS771039779                 4   Spain
4  URN:CornellLabOfOrnithology:EBIRD:OBS857230402                 X   Spain

    LATITUDE  LONGITUDE OBSERVATION DATE TIME OBSERVATIONS STARTED  \
0  40.813819  -5.705139       2001-04-29                  10:27:00
1  40.813819  -5.705139       2001-06-10                  10:20:00
2  42.212204  -2.180776       2001-06-20                  09:00:00
3  41.728994  -5.595362       2001-04-28                       NaN
4  41.728994  -5.595362       2001-06-02                       NaN

   DURATION MINUTES  AVERAGE MONTH TEMPERATURE  AVERAGE MONTH RAINFALL  year  \
0              31.0                      11.84                   27.54  2001
1              38.0                      20.48                   10.43  2001
2             270.0                      20.48                   10.43  2001
3               NaN                      11.84                   27.54  2001
4               NaN                      20.48                   10.43  2001

  country  tree_loss_ha  percentage_loss  Population  \
0   Spain         32811         0.064838  41327984.6
1   Spain         32811         0.064838  41327984.6
2   Spain         32811         0.064838  41327984.6
3   Spain         32811         0.064838  41327984.6
4   Spain         32811         0.064838  41327984.6

                                unique identifier   NDVI  WT_COUNT_10KM_RADIUS
0  URN:CornellLabOfOrnithology:EBIRD:OBS893567418  0.580                   0.0
1  URN:CornellLabOfOrnithology:EBIRD:OBS892840772  0.320                   0.0
2  URN:CornellLabOfOrnithology:EBIRD:OBS875856550  0.296                2097.0
3  URN:CornellLabOfOrnithology:EBIRD:OBS771039779  0.328                   0.0
4  URN:CornellLabOfOrnithology:EBIRD:OBS857230402  0.196                   0.0
(250651, 18)
(250651, 15)


df_veg['date'] = pd.to_datetime(df_veg['date'], errors='coerce')
print(df_veg.head())

merged4 = pd.merge(
    merged3,
    df_veg[['date', 'latitude', 'longitude', 'NDVI']],  # Select only relevant columns
    how='left', 
    left_on=['OBSERVATION DATE', 'LATITUDE', 'LONGITUDE'], 
    right_on=['date', 'latitude', 'longitude']
)
merged4 = merged4[merged4['OBSERVATION DATE'] <= '2020-06-30']

print(merged4.head())
print(merged4.shape)

In [21]:
nan_veg = merged4['NDVI'].isna().sum()
print(nan_veg)

nan_veg_rows = merged4[merged4['NDVI'].isna()]
print(nan_veg_rows)

6518
                               GLOBAL UNIQUE IDENTIFIER OBSERVATION COUNT  \
34       URN:CornellLabOfOrnithology:EBIRD:OBS102006496                 X
37       URN:CornellLabOfOrnithology:EBIRD:OBS102007758                 X
265     URN:CornellLabOfOrnithology:EBIRD:OBS1899241640                 3
267     URN:CornellLabOfOrnithology:EBIRD:OBS1523833242                 2
328     URN:CornellLabOfOrnithology:EBIRD:OBS1040049619                60
...                                                 ...               ...
250507   URN:CornellLabOfOrnithology:EBIRD:OBS849763148                 3
250522   URN:CornellLabOfOrnithology:EBIRD:OBS857940201                25
250559   URN:CornellLabOfOrnithology:EBIRD:OBS853856739                 2
250566   URN:CornellLabOfOrnithology:EBIRD:OBS861832680                 2
250641   URN:CornellLabOfOrnithology:EBIRD:OBS855503912                42

            COUNTRY   LATITUDE  LONGITUDE OBSERVATION DATE  \
34           Turkey  37.656645  31.273956       2001-05-21
37           Turkey  38.461116  31.375580       2001-05-25
265         Czechia  49.457092  17.448679       2001-03-23
267           Kenya  -0.771080  36.351700       2001-08-10
328        Portugal  38.800120  -8.956432       2001-01-17
...             ...        ...        ...              ...
250507        Spain  38.908673  -6.618017       2020-01-11
250522        Spain  40.405662  -3.497156       2020-01-30
250559        Spain  41.736319   0.584016       2020-01-20
250566  Netherlands  51.702150   5.968820       2020-02-08
250641        Spain  39.198956  -5.432059       2020-01-24

       TIME OBSERVATIONS STARTED  DURATION MINUTES  AVERAGE MONTH TEMPERATURE  \
34                      09:00:00             480.0                      14.16
37                      09:00:00             480.0                      14.16
265                     11:45:00               NaN                       3.62
267                     08:00:00               NaN                      23.79
328                     10:00:00             420.0                      10.28
...                          ...               ...                        ...
250507                  13:55:00              34.0                       6.91
250522                  15:20:00             110.0                       6.91
250559                  11:20:00              19.0                       6.91
250566                  15:00:00               NaN                       7.03
250641                  13:35:00               NaN                       6.91

        AVERAGE MONTH RAINFALL  tree_loss_ha  percentage_loss   Population  \
34                       81.46         22910         0.029345  65030121.80
37                       81.46         22910         0.029345  65030121.80
265                      68.94          3460         0.043889  10249265.24
267                      30.26         19027         0.032470  31919807.90
328                     231.89         24405         0.272514  10345521.70
...                        ...           ...              ...          ...
250507                   69.95        101988         0.201540  47362016.00
250522                   69.95        101988         0.201540  47362016.00
250559                   69.95        101988         0.201540  47362016.00
250566                  121.89          1922         0.051028  17419666.50
250641                   69.95        101988         0.201540  47362016.00

        NDVI  WT_COUNT_10KM_RADIUS
34       NaN                   0.0
37       NaN                   0.0
265      NaN                   0.0
267      NaN                   0.0
328      NaN                   0.0
...      ...                   ...
250507   NaN                   0.0
250522   NaN                   0.0
250559   NaN                   0.0
250566   NaN                   0.0
250641   NaN                   0.0

[6518 rows x 15 columns]

In [22]:
merged4.isna().sum()

GLOBAL UNIQUE IDENTIFIER         0
OBSERVATION COUNT                0
COUNTRY                          0
LATITUDE                         0
LONGITUDE                        0
OBSERVATION DATE                 0
TIME OBSERVATIONS STARTED    32900
DURATION MINUTES             60837
AVERAGE MONTH TEMPERATURE        0
AVERAGE MONTH RAINFALL           0
tree_loss_ha                     0
percentage_loss                  0
Population                       0
NDVI                          6518
WT_COUNT_10KM_RADIUS             0
dtype: int64

In [23]:

duplicates = merged4[merged4.duplicated()]
print(duplicates)
merged4.duplicated().sum()

Empty DataFrame
Columns: [GLOBAL UNIQUE IDENTIFIER, OBSERVATION COUNT, COUNTRY, LATITUDE, LONGITUDE, OBSERVATION DATE, TIME OBSERVATIONS STARTED, DURATION MINUTES, AVERAGE MONTH TEMPERATURE, AVERAGE MONTH RAINFALL, tree_loss_ha, percentage_loss, Population, NDVI, WT_COUNT_10KM_RADIUS]
Index: []

np.int64(0)

In [27]:
merged4.to_csv('stork_temp_rain_tree_veg_pop_turb_2001-2020.csv', index=False)

In [25]:
merged4[['GLOBAL UNIQUE IDENTIFIER']].nunique()

GLOBAL UNIQUE IDENTIFIER    250651
dtype: int64

In [26]:
num_unique_combinations = merged[['year', 'COUNTRY']].drop_duplicates().shape[0]

print(num_unique_combinations)

1310

NaN situation for 2001-2020 on NDVI
what about including more dates with missing attributes


temp and rain up to 2023
tree loss 2001-2023
ndvi 1999-2020  (missing data)
windmill all dates