In [1]:
import sys
!{sys.executable} -m pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\riyas\appdata\local\programs\python\python313\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\riyas\appdata\local\programs\python\python313\lib\site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 25.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
import numpy as np
import openpyxl

# Load the Excel file
file_path = (r"C:\Users\riyas\OneDrive - University of Birmingham\Documents\MSc Data Science\2. group project data science\natural disaster cleaning\natural disasters dataset.xlsx")
df = pd.read_excel(file_path)

In [4]:
# Load the sheet names to understand the structure of the file
xls = pd.ExcelFile(file_path)
xls.sheet_names

['EM-DAT Data', 'EM-DAT Info']

In [5]:
# Load the main dataset
df = pd.read_excel(file_path, sheet_name="EM-DAT Data")

In [7]:
missing_percentage = df.isnull().mean() * 100  # Ensure this is calculated correctly
print(missing_percentage)  # Debugging step to verify output

# Drop columns with more than 80% missing values
columns_to_drop = missing_percentage[missing_percentage > 80].index.tolist()
print("Dropping columns:", columns_to_drop)  # Debugging step
df.drop(columns=columns_to_drop, inplace=True)

DisNo.                                0.000000
Historic                              0.000000
Classification Key                    0.000000
Disaster Group                        0.000000
Disaster Subgroup                     0.000000
Disaster Type                         0.000000
Disaster Subtype                      0.000000
Event Name                           68.573976
ISO                                   0.000000
Country                               0.000000
Subregion                             0.000000
Region                                0.000000
Location                              9.262837
OFDA/BHA Response                     0.000000
Appeal                                0.000000
Declaration                           0.000000
Magnitude Scale                      37.370885
Start Year                            0.000000
Start Month                           1.872631
Start Day                            15.066508
End Year                              0.000000
End Month                             3.017017
End Day                              14.732110
Total Deaths                         20.535781
No. Injured                          67.280969
No. Affected                         58.482574
Total Affected                       33.138887
Total Damage ('000 US$)              78.397860
Total Damage, Adjusted ('000 US$)    78.739689
CPI                                   2.032399
Admin Units                          68.473657
Entry Date                            0.000000
Last Update                           0.000000
dtype: float64
Dropping columns: []

In [8]:
# Fill missing numerical values with mean or 0
num_cols = ['Magnitude', 'Latitude', 'Longitude', 'Total Deaths', 'No. Injured', 
            'No. Affected', 'No. Homeless', 'Total Damage (\'000 US$)', 
            'Total Damage, Adjusted (\'000 US$)']

for col in num_cols:
    df[col].fillna(df[col].median(), inplace=True)

# Fill missing categorical values with "Unknown"
cat_cols = ['Event Name', 'Origin', 'Associated Types', 'Admin Units']
for col in cat_cols:
    df[col].fillna("Unknown", inplace=True)

KeyError: 'Magnitude'

In [41]:
df['Entry Date'] = pd.to_datetime(df['Entry Date'], errors='coerce')
df['Last Update'] = pd.to_datetime(df['Last Update'], errors='coerce')

In [43]:
# Cap extreme values at 99th percentile
for col in ['Total Deaths', 'No. Injured', 'No. Affected', 'Total Damage (\'000 US$)']:
    upper_limit = df[col].quantile(0.99)
    df[col] = np.where(df[col] > upper_limit, upper_limit, df[col])

In [44]:
df.to_csv("cleaned_natural_disasters_2.csv", index=False)

continuedddddddddddddddd

In [13]:
# pandas dataframe
dataframe = pd.DataFrame(df)
dataframe

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,1900-0003-USA,Yes,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,30000.0,1098720.0,2.730451,NaN,2004-10-18,2023-10-17
1,1900-0005-USA,Yes,tec-ind-fir-fir,Technological,Industrial accident,Fire (Industrial),Fire (Industrial),NaN,NaN,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,2.730451,NaN,2003-07-01,2023-09-25
2,1900-0006-JAM,Yes,nat-hyd-flo-flo,Natural,Hydrological,Flood,Flood (General),NaN,NaN,JAM,...,NaN,NaN,NaN,NaN,NaN,NaN,2.730451,NaN,2003-07-01,2023-09-25
3,1900-0007-JAM,Yes,nat-bio-epi-vir,Natural,Biological,Epidemic,Viral disease,NaN,Gastroenteritis,JAM,...,NaN,NaN,NaN,NaN,NaN,NaN,2.730451,NaN,2003-07-01,2023-09-25
4,1900-0008-JPN,Yes,nat-geo-vol-ash,Natural,Geophysical,Volcanic activity,Ash fall,NaN,NaN,JPN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.730451,NaN,2003-07-01,2023-09-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26909,2024-9277-VNM,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,VNM,...,NaN,NaN,NaN,NaN,10000.0,NaN,NaN,NaN,2024-05-03,2024-08-12
26910,2024-9338-NAM,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,GLIDE:DR-2024-000094,NaN,NAM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-06-07,2024-09-30
26911,2024-9381-GRD,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,GLIDE:DR-2024-000079,NaN,GRD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-06-14,2024-08-12
26912,2024-9592-AGO,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,GLIDE:DR-2024-000095,NaN,AGO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-12,2024-08-12
26913,2024-9796-USA,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,5400000.0,NaN,NaN,NaN,2024-10-29,2025-01-22

In [14]:
print(df.info())  # Check column data types and missing values
print(df.head())  # View first few rows
print(df.describe())  # Summary of numerical columns
print(df.isnull().sum())  # Check missing values per column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26914 entries, 0 to 26913
Data columns (total 46 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   DisNo.                                     26914 non-null  object
 1   Historic                                   26914 non-null  object
 2   Classification Key                         26914 non-null  object
 3   Disaster Group                             26914 non-null  object
 4   Disaster Subgroup                          26914 non-null  object
 5   Disaster Type                              26914 non-null  object
 6   Disaster Subtype                           26914 non-null  object
 7   External IDs                               2533 non-null   object
 8   Event Name                                 8458 non-null   object
 9   ISO                                        26914 non-null  object
 10  Country                                    26914 non-null  object
 11  Subregion                                  26914 non-null  object
 12  Region                                     26914 non-null  object
 13  Location                                   24421 non-null  object
 14  Origin                                     4529 non-null   object
 15  Associated Types                           3997 non-null   object
 16  OFDA/BHA Response                          26914 non-null  object
 17  Appeal                                     26914 non-null  object
 18  Declaration                                26914 non-null  object
 19  AID Contribution ('000 US$)                788 non-null    float64
 20  Magnitude                                  5150 non-null   float64
 21  Magnitude Scale                            16856 non-null  object
 22  Latitude                                   2798 non-null   float64
 23  Longitude                                  2798 non-null   float64
 24  River Basin                                1408 non-null   object
 25  Start Year                                 26914 non-null  int64
 26  Start Month                                26410 non-null  float64
 27  Start Day                                  22859 non-null  float64
 28  End Year                                   26914 non-null  int64
 29  End Month                                  26102 non-null  float64
 30  End Day                                    22949 non-null  float64
 31  Total Deaths                               21387 non-null  float64
 32  No. Injured                                8806 non-null   float64
 33  No. Affected                               11174 non-null  float64
 34  No. Homeless                               2677 non-null   float64
 35  Total Affected                             17995 non-null  float64
 36  Reconstruction Costs ('000 US$)            42 non-null     float64
 37  Reconstruction Costs, Adjusted ('000 US$)  42 non-null     float64
 38  Insured Damage ('000 US$)                  1143 non-null   float64
 39  Insured Damage, Adjusted ('000 US$)        1125 non-null   float64
 40  Total Damage ('000 US$)                    5814 non-null   float64
 41  Total Damage, Adjusted ('000 US$)          5722 non-null   float64
 42  CPI                                        26367 non-null  float64
 43  Admin Units                                8485 non-null   object
 44  Entry Date                                 26914 non-null  object
 45  Last Update                                26914 non-null  object
dtypes: float64(20), int64(2), object(24)
memory usage: 9.4+ MB
None
          DisNo. Historic Classification Key Disaster Group  \
0  1900-0003-USA      Yes    nat-met-sto-tro        Natural
1  1900-0005-USA      Yes    tec-ind-fir-fir  Technological
2  1900-0006-JAM      Yes    nat-hyd-flo-flo        Natural
3  1900-0007-JAM      Yes    nat-bio-epi-vir        Natural
4  1900-0008-JPN      Yes    nat-geo-vol-ash        Natural

     Disaster Subgroup      Disaster Type   Disaster Subtype External IDs  \
0       Meteorological              Storm   Tropical cyclone          NaN
1  Industrial accident  Fire (Industrial)  Fire (Industrial)          NaN
2         Hydrological              Flood    Flood (General)          NaN
3           Biological           Epidemic      Viral disease          NaN
4          Geophysical  Volcanic activity           Ash fall          NaN

        Event Name  ISO  ... Reconstruction Costs ('000 US$)  \
0              NaN  USA  ...                             NaN
1              NaN  USA  ...                             NaN
2              NaN  JAM  ...                             NaN
3  Gastroenteritis  JAM  ...                             NaN
4              NaN  JPN  ...                             NaN

  Reconstruction Costs, Adjusted ('000 US$) Insured Damage ('000 US$)  \
0                                       NaN                       NaN
1                                       NaN                       NaN
2                                       NaN                       NaN
3                                       NaN                       NaN
4                                       NaN                       NaN

  Insured Damage, Adjusted ('000 US$) Total Damage ('000 US$)  \
0                                 NaN                 30000.0
1                                 NaN                     NaN
2                                 NaN                     NaN
3                                 NaN                     NaN
4                                 NaN                     NaN

  Total Damage, Adjusted ('000 US$)       CPI Admin Units  Entry Date  \
0                         1098720.0  2.730451         NaN  2004-10-18
1                               NaN  2.730451         NaN  2003-07-01
2                               NaN  2.730451         NaN  2003-07-01
3                               NaN  2.730451         NaN  2003-07-01
4                               NaN  2.730451         NaN  2003-07-01

   Last Update
0   2023-10-17
1   2023-09-25
2   2023-09-25
3   2023-09-25
4   2023-09-25

[5 rows x 46 columns]
       AID Contribution ('000 US$)     Magnitude     Latitude    Longitude  \
count                 7.880000e+02  5.150000e+03  2798.000000  2798.000000
mean                  1.979897e+04  4.751796e+04    18.529398    39.479852
std                   1.677534e+05  6.096606e+05    21.598560    77.361772
min                   1.000000e+00 -5.700000e+01   -72.640000  -178.252000
25%                   1.750000e+02  6.900000e+00     3.295000    -0.232500
50%                   7.295000e+02  1.440000e+02    22.970000    49.194500
75%                   3.638750e+03  8.000000e+03    36.528600   102.793000
max                   3.518530e+06  4.000000e+07    67.930000   179.650000

         Start Year   Start Month     Start Day      End Year     End Month  \
count  26914.000000  26410.000000  22859.000000  26914.000000  26102.000000
mean    1999.354797      6.499773     15.401811   1999.389463      6.600682
std       19.508271      3.419426      8.910469     19.499056      3.399129
min     1900.000000      1.000000      1.000000   1900.000000      1.000000
25%     1991.000000      4.000000      8.000000   1991.000000      4.000000
50%     2003.000000      7.000000     15.000000   2003.000000      7.000000
75%     2012.000000      9.000000     23.000000   2013.000000      9.000000
max     2024.000000     12.000000     31.000000   2025.000000     12.000000

            End Day  ...  No. Affected  No. Homeless  Total Affected  \
count  22949.000000  ...  1.117400e+04  2.677000e+03    1.799500e+04
mean      15.728528  ...  7.773960e+05  6.737637e+04    4.933912e+05
std        8.862144  ...  7.827225e+06  4.988167e+05    6.237219e+06
min        1.000000  ...  1.000000e+00  1.000000e+00    1.000000e+00
25%        8.000000  ...  8.600000e+02  5.000000e+02    6.600000e+01
50%       16.000000  ...  7.696500e+03  2.750000e+03    1.300000e+03
75%       23.000000  ...  7.500000e+04  1.500000e+04    2.203450e+04
max       31.000000  ...  3.300000e+08  1.585000e+07    3.300000e+08

       Reconstruction Costs ('000 US$)  \
count                     4.200000e+01
mean                      5.367314e+06
std                       1.587693e+07
min                       8.400000e+01
25%                       6.312500e+04
50%                       4.445000e+05
75%                       3.133000e+06
max                       1.000000e+08

       Reconstruction Costs, Adjusted ('000 US$)  Insured Damage ('000 US$)  \
count                               4.200000e+01               1.143000e+03
mean                                6.639464e+06               9.572761e+05
std                                 1.699672e+07               3.760910e+06
min                                 1.310000e+02               3.400000e+01
25%                                 9.772000e+04               5.000000e+04
50%                                 5.375475e+05               1.750000e+05
75%                                 4.422531e+06               5.600000e+05
max                                 1.000000e+08               6.000000e+07

       Insured Damage, Adjusted ('000 US$)  Total Damage ('000 US$)  \
count                         1.125000e+03             5.814000e+03
mean                          1.302049e+06             8.111329e+05
std                           4.914277e+06             4.962619e+06
min                           4.800000e+01             2.000000e+00
25%                           9.533300e+04             8.400750e+03
50%                           2.681860e+05             6.000000e+04
75%                           8.420930e+05             3.415000e+05
max                           9.361435e+07             2.100000e+08

       Total Damage, Adjusted ('000 US$)           CPI
count                       5.722000e+03  26367.000000
mean                        1.281373e+06     57.478835
std                         7.115101e+06     23.065702
min                         3.000000e+00      2.730451
25%                         1.720800e+04     44.696722
50%                         1.246500e+05     59.033144
75%                         6.244882e+05     75.350386
max                         2.844652e+08    100.000000

[8 rows x 22 columns]
DisNo.                                           0
Historic                                         0
Classification Key                               0
Disaster Group                                   0
Disaster Subgroup                                0
Disaster Type                                    0
Disaster Subtype                                 0
External IDs                                 24381
Event Name                                   18456
ISO                                              0
Country                                          0
Subregion                                        0
Region                                           0
Location                                      2493
Origin                                       22385
Associated Types                             22917
OFDA/BHA Response                                0
Appeal                                           0
Declaration                                      0
AID Contribution ('000 US$)                  26126
Magnitude                                    21764
Magnitude Scale                              10058
Latitude                                     24116
Longitude                                    24116
River Basin                                  25506
Start Year                                       0
Start Month                                    504
Start Day                                     4055
End Year                                         0
End Month                                      812
End Day                                       3965
Total Deaths                                  5527
No. Injured                                  18108
No. Affected                                 15740
No. Homeless                                 24237
Total Affected                                8919
Reconstruction Costs ('000 US$)              26872
Reconstruction Costs, Adjusted ('000 US$)    26872
Insured Damage ('000 US$)                    25771
Insured Damage, Adjusted ('000 US$)          25789
Total Damage ('000 US$)                      21100
Total Damage, Adjusted ('000 US$)            21192
CPI                                            547
Admin Units                                  18429
Entry Date                                       0
Last Update                                      0
dtype: int64

In [30]:
missing_percentage = df.isnull().mean() * 100
print(missing_percentage[missing_percentage > 50])  # Display columns with >50% missing values

AttributeError: 'NoneType' object has no attribute 'isnull'

In [18]:
# Check which columns are numerical
num_cols = df.select_dtypes(include=['number']).columns
print("Numerical Columns:", num_cols)

# Check which columns are categorical
cat_cols = df.select_dtypes(include=['object']).columns
print("Categorical Columns:", cat_cols)

Numerical Columns: Index(['AID Contribution ('000 US$)', 'Magnitude', 'Latitude', 'Longitude',
       'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month',
       'End Day', 'Total Deaths', 'No. Injured', 'No. Affected',
       'No. Homeless', 'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Reconstruction Costs, Adjusted ('000 US$)',
       'Insured Damage ('000 US$)', 'Insured Damage, Adjusted ('000 US$)',
       'Total Damage ('000 US$)', 'Total Damage, Adjusted ('000 US$)', 'CPI'],
      dtype='object')
Categorical Columns: Index(['DisNo.', 'Historic', 'Classification Key', 'Disaster Group',
       'Disaster Subgroup', 'Disaster Type', 'Disaster Subtype',
       'External IDs', 'Event Name', 'ISO', 'Country', 'Subregion', 'Region',
       'Location', 'Origin', 'Associated Types', 'OFDA/BHA Response', 'Appeal',
       'Declaration', 'Magnitude Scale', 'River Basin', 'Admin Units',
       'Entry Date', 'Last Update'],
      dtype='object')

In [24]:
for col in num_cols:
    if df[col].isnull().sum() > 0:  # Only fill if missing values exist
        df[col].fillna(df[col].median(), inplace=True)

TypeError: 'NoneType' object is not subscriptable

In [17]:
# change all the ' '  values to None
df = dataframe.replace('', None)
dataframe

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,1900-0003-USA,Yes,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,30000.0,1098720.0,2.730451,NaN,2004-10-18,2023-10-17
1,1900-0005-USA,Yes,tec-ind-fir-fir,Technological,Industrial accident,Fire (Industrial),Fire (Industrial),NaN,NaN,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,2.730451,NaN,2003-07-01,2023-09-25
2,1900-0006-JAM,Yes,nat-hyd-flo-flo,Natural,Hydrological,Flood,Flood (General),NaN,NaN,JAM,...,NaN,NaN,NaN,NaN,NaN,NaN,2.730451,NaN,2003-07-01,2023-09-25
3,1900-0007-JAM,Yes,nat-bio-epi-vir,Natural,Biological,Epidemic,Viral disease,NaN,Gastroenteritis,JAM,...,NaN,NaN,NaN,NaN,NaN,NaN,2.730451,NaN,2003-07-01,2023-09-25
4,1900-0008-JPN,Yes,nat-geo-vol-ash,Natural,Geophysical,Volcanic activity,Ash fall,NaN,NaN,JPN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.730451,NaN,2003-07-01,2023-09-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26909,2024-9277-VNM,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,VNM,...,NaN,NaN,NaN,NaN,10000.0,NaN,NaN,NaN,2024-05-03,2024-08-12
26910,2024-9338-NAM,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,GLIDE:DR-2024-000094,NaN,NAM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-06-07,2024-09-30
26911,2024-9381-GRD,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,GLIDE:DR-2024-000079,NaN,GRD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-06-14,2024-08-12
26912,2024-9592-AGO,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,GLIDE:DR-2024-000095,NaN,AGO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-12,2024-08-12
26913,2024-9796-USA,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,5400000.0,NaN,NaN,NaN,2024-10-29,2025-01-22